@normal-color:#428bca;
@normal-color-hover: darken(@normal-color,10%);

.setLi(@color:red;@font-size;@backgroundColor;){
    color: @color;
    font-size: @font-size;
    background-color: @backgroundColor;
}